<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/header :: head('My Orders')">
</head>
<body>
<div class="header">
    <div th:replace="/fragments/navbar">
    </div>
    <div class="alert alert-success alert-dismissable error text-center" th:if="${param.success != null}">
        Your transaction has been canceled!</div>
    <div class="alert alert-danger alert-dismissable error text-center" th:if="${param.error != null}">
        Something went wrong canceling your transaction! Try again</div>
</div>
<div class="page-container">
    <div>
        <div class="mother-grid-inner">
            <!--inner block start here-->
            <div class="inner-block">
                <div class="chit-chat-layer1">
                    <div class="col-md-12 chit-chat-layer1-left">
                        <div class="work-progres">
                            <div class="market-update-block clr-block-3">
                                <ul id="myTab" class="nav nav-tabs nav-tabs-responsive" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
                                            <span class="text">Orders</span>
                                        </a>
                                    </li>
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                                        <div>
                                            <div id="container">
                                                <div class="clearfix"></div>
                                                <div id="resultsBlock">
                                                    <div class="table-responsive">
                                                        <table class="table table-hover">
                                                            <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <!--<th>Date Ordered</th>-->
                                                                <th>Transaction Status</th>
                                                                <th>Products Ordered</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody th:each="order: ${orders}">
                                                            <tr>
                                                                <td th:text="${order.id}"></td>
                                                                <!--<td th:text="${order.createdDate}"></td>-->
                                                                <td th:text="${order.transactionStatus}"></td>
                                                                <td>
                                                                    <ul>
                                                                        <li th:each="detail : ${details}" th:if="${detail.order == order}">
                                                                            <a th:href="${'/product/view/' + detail.getProduct().id}" th:text="${detail.getProduct().name}"></a>
                                                                        </li>
                                                                    </ul>
                                                                </td>
                                                                <td>
                                                                    <form th:if="${order.transactionStatus != 'CANCELLED &amp;&amp; loggedUser != '}" th:action="@{'/product/cancel/' + ${order.getId()}}" th:method="POST" enctype="multipart/form-data">
                                                                        <button>CANCEL</button>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <!--inner block end here-->
            <!--<link rel="stylesheet" type="text/css" href="/css/magnific-popup.css" />-->
            <!--<script type="text/javascript" src="/js/nivo-lightbox.min.js"></script>-->
            <!--<script type="text/javascript">-->
            <!--$(document).ready(function(){-->
            <!--$('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });-->
            <!--});-->
            <!--</script>-->

        </div>
    </div>
    <div class="clearfix"> </div>
</div>

<div th:replace="/fragments/footer :: footer"></div>
<script>
    $(".alert").fadeTo(5000, 500).slideUp(500, function(){
        $(".alert").slideUp(500);
    });
</script>
</body>
</html>