<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/header :: head('My Products')">
</head>
<body>
<div class="page-container">
    <div>
        <div class="mother-grid-inner">
            <div th:replace="/fragments/navbar :: navbar(${loggedUser})"></div>
            <!--inner block start here-->
            <div class="inner-block">
                <div class="product-block">
                    <div class="pro-head">
                        <h2>My Products</h2>
                    </div>
                    <div class="col-md-3 product-grid" th:each="product : ${products}">
                        <div class="product-items">
                            <div class="project-eff">
                                <div id="nivo-lightbox-demo">
                                    <!--<p><a href="images/pro1.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo-img"><span class="rollover1"></span> </a></p>-->
                                    <img class="img-responsive" th:src="${product.photo != null} ? ${'/images/' + product.photo} : ${'/images/no_image.jpg'}" />
                                </div>
                            </div>
                            <div class="produ-cost">
                                <h4 th:text="${product.name}"></h4>
                                <h5 th:text="'&#8369;' + ${product.price}"></h5>
                                <a th:href="${'/product/edit/' + product.id}" class=""><i class="fa fa-edit hvr-bounce-in"></i></a>
                                <a th:href="${'/product/remove/' + product.id}"><i class="fa fa-trash hvr-bob"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <!--inner block end here-->
            <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css" />
            <!--<script type="text/javascript" src="/js/nivo-lightbox.min.js"></script>-->
            <!--<script type="text/javascript">-->
                <!--$(document).ready(function(){-->
                    <!--$('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });-->
                <!--});-->
            <!--</script>-->

            <!--copy rights start here-->
            <div class="copyrights">
                <p>© 2016 Shoppy. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
            </div>
            <!--COPY rights end here-->
        </div>
    </div>
    <div class="clearfix"> </div>
</div>

<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>