<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/header :: head('Sell Product')">
</head>
<body>

<div class="page-container">
    <div>
        <div class="mother-grid-inner">
            <div th:replace="/fragments/navbar :: navbar(${loggedUser})"></div>
            <!--inner block start here-->
            <div class="signup-page-main">
                <div class="signup-main">
                    <div class="signup-head">
                        <h1 th:text="${product.name}"></h1>
                    </div>
                    <div class="signup-block">
                        <h4 th:text="&#8369;+${product.price}"></h4>
                        <h5 th:text="${product.description}"></h5>

                        <a th:if="${product.getSeller() == loggedUser &amp;&amp; product.getArchive() == false}" th:href="${'/product/edit/' + product.id}" class="edit"><i class="fa fa-edit hvr-bounce-in"></i></a>
                        <a th:if="${product.getSeller() == loggedUser &amp;&amp; product.getStatus() == 'OPEN' &amp;&amp; product.getArchive() == false}" th:href="${'/product/remove/' + product.id}" class="remove" ><i class="fa fa-trash hvr-bob"></i></a>

                        <h5 th:if="${product.getSeller() == loggedUser &amp;&amp; product.getStatus() != 'OPEN' &amp;&amp; product.getArchive() == false}" th:href="${'/product/remove/' + product.id}" class="remove">Item is currently in pending transaction.</h5>

                        <h4 th:if="${product.getArchive() == true}" th:text="'This Product is Archived by the Administrators. User cannot sell, edit, nor delete this product until further notice.'"></h4>

                        <a th:if="${loggedUser.getStringRoles().contains('BUYER')}" th:href="${'/cart/buy/' + product.id}"><button th:unless="${product.getSeller() == loggedUser || loggedUser == null || product.getPrice() > loggedUser.getWallet().getSeeds()}">Add to Cart</button></a>
                        <a th:if="${loggedUser.getStringRoles().contains('BUYER')}"><h5 th:unless="${product.getSeller() == loggedUser || loggedUser == null || !(product.getPrice() > loggedUser.getWallet().getSeeds())}">Not enough seeds!</h5></a>
                        <!--<div class="sign-down">-->
                        <!--<h4>Already have an account? <a th:href="@{/login}"> Login here.</a></h4>-->
                        <!--<h5><a th:href="@{/}">Go Back to Home</a></h5>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
            <!--inner block end here-->
            <!--copy rights start here-->
            <div class="copyrights">
                <p>© 2016 Shoppy. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
            </div>
            <!--COPY rights end here-->
        </div>
    </div>
    <div class="clearfix"> </div>
</div>

<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>