<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/header :: head(${product.category.name})">
</head>
<body>
<div class="header">
    <div th:replace="/fragments/navbar">
    </div>
</div>
<div class="banner text-center">
    <div class="container">
        <h1>Sell <span class="segment-heading"> anything online </span> with Sunflower</h1>
        <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>-->
        <!--<a href="post-ad.html">Post Free Ad</a>-->
    </div>
</div>
<!--single-page-->
<div class="single-page main-grid-border">
    <div class="container">
        <ol class="breadcrumb" style="margin-bottom: 5px;">
            <li><a th:href="${'/'}">Home</a></li>
            <li><a th:href="${'/category/all'}">All</a></li>
            <li class="active">
                <a th:if="${product.category.name == 'Electronics &amp; Appliances'}" th:href="${'/category/electronics+appliances'}">Electronics &amp; Appliances</a>
                <a th:unless="${product.category.name == 'Electronics &amp; Appliances'}" th:href="${'/category/' + product.category.name}" th:text="${product.category.name}"></a>
            </li>
            <li class="active" th:text="${product.name}"></li>
        </ol>
        <div class="product-desc">
            <div class="col-md-7 product-view">
                <h2 th:text="${product.name}">Lorem Ipsum is simply dummy text of the printing and typesetting industry</h2>
                <p> <i class="glyphicon glyphicon-user"></i><a href="#" th:text="${product.seller.firstName + ' ' + product.seller.lastName}"></a> | Posted on <th:block th:text="${#dates.format(product.createdDate, 'MMMM dd, yyyy hh:mm')}"></th:block>, Product ID: <th:block th:text="${product.id}"></th:block></p>
                <div class="flexslider">
                    <ul class="slides">
                        <li data-thumb="images/ss1.jpg">
                            <img th:src="${product.photo != null &amp;&amp; product.photo != ''} ? ${'/images/client/product/' + product.photo} : '/images/no_image.png'"
                                 title="" alt="" />
                        </li>
                        <!--<li data-thumb="images/ss2.jpg">-->
                            <!--<img src="images/ss2.jpg" />-->
                        <!--</li>-->
                        <!--<li data-thumb="images/ss3.jpg">-->
                            <!--<img src="images/ss3.jpg" />-->
                        <!--</li>-->
                    </ul>
                </div>
                <!-- FlexSlider -->
                <script defer="" src="/js/jquery.flexslider.js"></script>
                <link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen" />

                <script>
                    // Can also be used with $(document).ready()
                    $(window).load(function() {
                        $('.flexslider').flexslider({
                            animation: "slide",
                            controlNav: "thumbnails"
                        });
                    });
                </script>
                <!-- //FlexSlider -->
                <div class="product-details">
                    <h5 th:if="${product.archived == true}">This product has been archived</h5>
                    <!--<h4>Views : <strong>150</strong></h4>-->
                    <!--<p><strong>Display </strong>: 1.5 inch HD LCD Touch Screen</p>-->
                    <p><strong>Summary : </strong><th:block th:text="${product.description}"></th:block></p>
                </div>
            </div>
            <div class="col-md-5 product-details-grid">
                <div class="item-price">
                    <div class="product-price">
                        <p class="p-price">Price</p>
                        <h3 class="rate" th:text="${'&#8369;' + product.price}"></h3>
                        <div class="clearfix"></div>
                    </div>
                    <!--<div class="condition">-->
                        <!--<p class="p-price">Condition</p>-->
                        <!--<h4>Good</h4>-->
                        <!--<div class="clearfix"></div>-->
                    <!--</div>-->
                    <div class="itemtype">
                        <p class="p-price">Item Type</p>
                        <h5 th:if="${product.category.name == 'Electronics &amp; Appliances'}" th:text="${product.category.name}"></h5>
                        <h4 th:unless="${product.category.name == 'Electronics &amp; Appliances'}" th:text="${product.category.name}"></h4>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="interested text-center" th:unless="${loggedUser != null &#124;&#124; product.archived == true}">
                    <th:block>
                        <h4>Interested in this product?</h4><!--<small> Add it to your cart!</small>-->
                        <p><a th:href="${'/login'}">Login now!</a></p>
                    </th:block>
                </div>
                <div class="interested text-center" th:if="${loggedUser != null &amp;&amp; product.archived == false}">
                    <!-- Results block -->
                    <div id="resultsBlock">

                    </div>

                    <th:block th:if="${(loggedUser.id == product.seller.id || loggedUser.getStringRoles().contains('ADMIN')) &amp;&amp; product.getArchive() == false}">
                        <a th:if="${product.getStatus() != 'PENDING'}" th:href="${'/product/remove/' + product.id}"><p><i class="glyphicon glyphicon-trash"></i>Remove your product</p></a>
                        <a th:href="${'/product/edit/' + product.id}"><p><i class="glyphicon glyphicon-pencil"></i>Edit your product</p></a>
                    </th:block>

                    <th:block th:unless="${!loggedUser.getStringRoles().contains('BUYER')}" th:if="${session.cart.size() == 0 &amp;&amp; loggedUser.id != product.seller.id}">
                        <h4>Interested in this product?</h4><!--<small> Add it to your cart!</small>-->
                        <p><i id="add" class="glyphicon glyphicon-shopping-cart"></i>&lt;- Add it to your cart!</p>
                    </th:block>

                    <th:block th:unless="${!loggedUser.getStringRoles().contains('BUYER')}" th:each="item : ${session.cart}" th:if="${loggedUser.id != product.seller.id}">
                        <th:block th:if="${item.key == product.id}">
                            <div class="alert alert-info alert-dismissable error">
                                This was already added to your cart!</div>
                        </th:block>
                        <th:block th:unless="${item.key == product.id}">
                            <h4>Interested in this product?</h4><!--<small> Add it to your cart!</small>-->
                            <p><i id="add" class="glyphicon glyphicon-shopping-cart"></i>&lt;- Add it to your cart!</p>
                        </th:block>
                    </th:block>
                </div>
                <!--<div class="tips">-->
                    <!--<h4>Safety Tips for Buyers</h4>-->
                    <!--<ol>-->
                        <!--<li><a href="#">Contrary to popular belief.</a></li>-->
                        <!--<li><a href="#">Contrary to popular belief.</a></li>-->
                        <!--<li><a href="#">Contrary to popular belief.</a></li>-->
                        <!--<li><a href="#">Contrary to popular belief.</a></li>-->
                        <!--<li><a href="#">Contrary to popular belief.</a></li>-->
                        <!--<li><a href="#">Contrary to popular belief.</a></li>-->
                        <!--<li><a href="#">Contrary to popular belief.</a></li>-->
                        <!--<li><a href="#">Contrary to popular belief.</a></li>-->
                        <!--<li><a href="#">Contrary to popular belief.</a></li>-->
                    <!--</ol>-->
                <!--</div>-->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//single-page-->
<!--footer section start-->
<footer th:replace="/fragments/footer">
</footer>
<!--footer section end-->
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    let id = /*[[${product.id}]]*/ '0';

    $("#add").on('click', function () {
        let url = [];
        // let keyword = $("#search").val();
        url.push("/cart/buy/", id);
        $('#resultsBlock').load(url.join(""));

        $("#bs-example-navbar-collapse-1").load(location.href + " #bs-example-navbar-collapse-1>*","");
    });

    /*]]>*/
</script>
</body>
</html>