<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/header :: head('Admin')">
</head>
<body>
<div class="page-container">
    <div>
        <div class="mother-grid-inner">
            <div th:replace="/fragments/navbar :: navbar(${loggedUser})"></div>
            <!--inner block start here-->
            <div class="inner-block">
                <!--market updates updates-->
                <div class="market-updates">
                    <div class="col-md-6 market-update-gd">
                        <div class="market-update-block clr-block-3">
                            <div class="col-md-8 market-update-left">
                                <h3 th:text="${users.size()}"></h3>
                                <h4 th:text="${users.size() > 1} ? ${'Users'} : ${'User'}"></h4>
                            </div>
                            <div class="col-md-4 market-update-right">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="col-md-6 market-update-gd">
                        <div class="market-update-block clr-block-1">
                            <div class="col-md-8 market-update-left">
                                <h3 th:text="${products.size()}"></h3>
                                <h4 th:text="${products.size() > 1} ? ${'Products'} : ${'Product'}"></h4>
                            </div>
                            <div class="col-md-4 market-update-right">
                                <i class="fa fa-product-hunt"></i>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <!--market updates end here-->
                <!--mainpage chit-chating-->
                <div class="chit-chat-layer1">
                    <div class="col-md-6 chit-chat-layer1-left">
                        <div class="work-progres">
                            <div class="chit-chat-heading">
                                Users
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Username</th>
                                        <th>Active</th>
                                        <th>Roles</th>
                                        <!--<th>Progress</th>-->
                                    </tr>
                                    </thead>
                                    <tbody th:each="user: ${users}">
                                    <tr>
                                        <td th:text="${user.id}"></td>
                                        <td th:text="${user.firstName}"></td>
                                        <td th:text="${user.username}"></td>
                                        <td th:text="${user.enabled}"></td>
                                        <td>
                                            <select>
                                                <option th:each="role : ${user.roles}" th:value="${role.id}" th:text="${role.role}"></option>
                                            </select>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-xs btn-danger">Deactivate</button>
                                        </td>
                                        <!--<td th:text=""></td>-->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 chit-chat-layer1-left">
                        <div class="work-progres">
                            <div class="chit-chat-heading">
                                Products
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Product Name</th>
                                        <th>Price</th>
                                        <!--<th>Progress</th>-->
                                    </tr>
                                    </thead>
                                    <tbody th:each="product: ${products}">
                                    <tr>
                                        <td th:text="${product.id}"></td>
                                        <td th:text="${product.name}"></td>
                                        <td th:text="${product.price}"></td>
                                        <!--<td th:text=""></td>-->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <!--inner block end here-->
            <!--copy rights start here-->
            <div class="copyrights">
                <p>© 2016 Shoppy. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
            </div>
            <!--COPY rights end here-->
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<div th:replace="/fragments/footer :: footer"></div>
</body>
</html>