<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/header :: head('Add Seed')">
</head>
<body>

<div class="page-container">
    <div>
        <div class="mother-grid-inner">
            <div th:replace="/fragments/navbar :: navbar(${loggedUser})"></div>
            <!--inner block start here-->
            <div class="signup-page-main">
                <div class="signup-main">
                    <div class="signup-head">
                        <h1>Add Seed</h1>
                    </div>
                    <div class="signup-block">
                        <form th:action="@{/admin/addSeed}" th:object="${seedDTO}" method="POST" enctype="multipart/form-data">
                            <div class="input-group">
                                <span class="input-group-addon">&#8369;</span>
                                <input th:field="*{value}" type="number" required="" placeholder="0" min="0" step="50" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" />
                            </div>
                            <br />

                            <!--<input th:field="*{photo}" type="file" accept="image/*" name="file" id="file" required="" />-->

                            <input type="submit" value="Generate Seed" />
                        </form>
                        <!--<div class="sign-down">-->
                        <!--<h4>Already have an account? <a th:href="@{/login}"> Login here.</a></h4>-->
                        <!--<h5><a th:href="@{/}">Go Back to Home</a></h5>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
            <!--inner block end here-->
            <!--copy rights start here-->
            <div class="copyrights">
                <p>© 2016 Shoppy. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
            </div>
            <!--COPY rights end here-->
        </div>
    </div>
    <div class="clearfix"> </div>
</div>

<div th:replace="/fragments/footer :: footer"></div>


</body>
</html>