<!--header start here-->
<div class="header-main" th:fragment="navbar(loggedUser)" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="header-left">
        <div class="logo-name">
            <a th:href="@{/}"> <h1>Sunflower</h1>
                <!--<img id="logo" src="" alt="Logo"/>-->
            </a>
        </div>
        <!--search-box-->
        <div class="search-box">
            <form>
                <input id="search" type="text" placeholder="Search..." required="" />
                <!--<input type="submit" value="" />-->
            </form>
        </div><!--//end-search-box-->
        <div class="clearfix"> </div>
    </div>
    <div class="header-right">
        <div th:class="profile_details_left"><!--notifications of menu start -->
            <ul class="nofitications-dropdown" th:unless="${loggedUser == null}">
                <li class="dropdown head-dpdn" th:if="${loggedUser != null}"><a th:each="role : ${loggedUser.roles}" th:if="${role.role == 'SELLER'}" th:href="@{/product/sell}"><i class="fa fa-sellsy"></i>  Sell Product</a></li>

                <!--<li class="dropdown head-dpdn">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-envelope"></i><span class="badge">3</span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li>-->
                            <!--<div class="notification_header">-->
                                <!--<h3>You have 3 new messages</h3>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li><a href="#">-->
                            <!--<div class="user_img"><img src="images/p4.png" alt="" /></div>-->
                            <!--<div class="notification_desc">-->
                                <!--<p>Lorem ipsum dolor</p>-->
                                <!--<p><span>1 hour ago</span></p>-->
                            <!--</div>-->
                            <!--<div class="clearfix"></div>-->
                        <!--</a></li>-->
                        <!--<li class="odd"><a href="#">-->
                            <!--<div class="user_img"><img src="images/p2.png" alt="" /></div>-->
                            <!--<div class="notification_desc">-->
                                <!--<p>Lorem ipsum dolor </p>-->
                                <!--<p><span>1 hour ago</span></p>-->
                            <!--</div>-->
                            <!--<div class="clearfix"></div>-->
                        <!--</a></li>-->
                        <!--<li><a href="#">-->
                            <!--<div class="user_img"><img src="images/p3.png" alt="" /></div>-->
                            <!--<div class="notification_desc">-->
                                <!--<p>Lorem ipsum dolor</p>-->
                                <!--<p><span>1 hour ago</span></p>-->
                            <!--</div>-->
                            <!--<div class="clearfix"></div>-->
                        <!--</a></li>-->
                        <!--<li>-->
                            <!--<div class="notification_bottom">-->
                                <!--<a href="#">See all messages</a>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown head-dpdn">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i><span class="badge blue">3</span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li>-->
                            <!--<div class="notification_header">-->
                                <!--<h3>You have 3 new notification</h3>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li><a href="#">-->
                            <!--<div class="user_img"><img src="images/p5.png" alt="" /></div>-->
                            <!--<div class="notification_desc">-->
                                <!--<p>Lorem ipsum dolor</p>-->
                                <!--<p><span>1 hour ago</span></p>-->
                            <!--</div>-->
                            <!--<div class="clearfix"></div>-->
                        <!--</a></li>-->
                        <!--<li class="odd"><a href="#">-->
                            <!--<div class="user_img"><img src="images/p6.png" alt="" /></div>-->
                            <!--<div class="notification_desc">-->
                                <!--<p>Lorem ipsum dolor</p>-->
                                <!--<p><span>1 hour ago</span></p>-->
                            <!--</div>-->
                            <!--<div class="clearfix"></div>-->
                        <!--</a></li>-->
                        <!--<li><a href="#">-->
                            <!--<div class="user_img"><img src="images/p7.png" alt="" /></div>-->
                            <!--<div class="notification_desc">-->
                                <!--<p>Lorem ipsum dolor</p>-->
                                <!--<p><span>1 hour ago</span></p>-->
                            <!--</div>-->
                            <!--<div class="clearfix"></div>-->
                        <!--</a></li>-->
                        <!--<li>-->
                            <!--<div class="notification_bottom">-->
                                <!--<a href="#">See all notifications</a>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown head-dpdn">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-tasks"></i><span class="badge blue1">9</span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li>-->
                            <!--<div class="notification_header">-->
                                <!--<h3>You have 8 pending task</h3>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li><a href="#">-->
                            <!--<div class="task-info">-->
                                <!--<span class="task-desc">Database update</span><span class="percentage">40%</span>-->
                                <!--<div class="clearfix"></div>-->
                            <!--</div>-->
                            <!--<div class="progress progress-striped active">-->
                                <!--<div class="bar yellow" style="width:40%;"></div>-->
                            <!--</div>-->
                        <!--</a></li>-->
                        <!--<li><a href="#">-->
                            <!--<div class="task-info">-->
                                <!--<span class="task-desc">Dashboard done</span><span class="percentage">90%</span>-->
                                <!--<div class="clearfix"></div>-->
                            <!--</div>-->
                            <!--<div class="progress progress-striped active">-->
                                <!--<div class="bar green" style="width:90%;"></div>-->
                            <!--</div>-->
                        <!--</a></li>-->
                        <!--<li><a href="#">-->
                            <!--<div class="task-info">-->
                                <!--<span class="task-desc">Mobile App</span><span class="percentage">33%</span>-->
                                <!--<div class="clearfix"></div>-->
                            <!--</div>-->
                            <!--<div class="progress progress-striped active">-->
                                <!--<div class="bar red" style="width: 33%;"></div>-->
                            <!--</div>-->
                        <!--</a></li>-->
                        <!--<li><a href="#">-->
                            <!--<div class="task-info">-->
                                <!--<span class="task-desc">Issues fixed</span><span class="percentage">80%</span>-->
                                <!--<div class="clearfix"></div>-->
                            <!--</div>-->
                            <!--<div class="progress progress-striped active">-->
                                <!--<div class="bar  blue" style="width: 80%;"></div>-->
                            <!--</div>-->
                        <!--</a></li>-->
                        <!--<li>-->
                            <!--<div class="notification_bottom">-->
                                <!--<a href="#">See all pending tasks</a>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
            <div class="clearfix"> </div>
        </div>
        <!--notification menu end -->
        <div th:class="${loggedUser == null} ? 'profile_details' : 'null'">
            <ul>
                <li class="dropdown profile_details_drop">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <div class="profile_img">
                            <span class="prfil-img"><img src="/images/visit.png" alt="" /> </span>
                            <div class="user-name">
                                <p th:text="Guest"></p>
                            </div>
                            <i class="fa fa-angle-down lnr"></i>
                            <i class="fa fa-angle-up lnr"></i>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                    <ul class="dropdown-menu drp-mnu">
                        <li><a th:href="@{/login}"><i class="fa fa-sign-in"></i>  Login</a> </li>
                        <li><a th:href="@{/registration}"><i class="fa fa-user-plus"></i>Register</a> </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div th:class="${loggedUser != null} ? 'profile_details' : 'null'">
            <ul>
                <li class="dropdown profile_details_drop">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <div class="profile_img">
                            <span class="prfil-img"><img th:if="${loggedUser != null}" th:src="${loggedUser.getImage() == null || loggedUser.getImage().equals('')} ? '/images/visit.png' : ${'/images/client/' + loggedUser.getImage()}" alt="" /> </span>
                            <div class="user-name">
                                <p th:if="${loggedUser != null}" th:text="${loggedUser.getFirstName()}"></p>
                            </div>
                            <i class="fa fa-angle-down lnr"></i>
                            <i class="fa fa-angle-up lnr"></i>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                    <ul class="dropdown-menu drp-mnu" th:if="${loggedUser != null}">
                        <li th:each="role : ${loggedUser.roles}" th:if="${role.role == 'ADMIN'}"> <a href="/admin"><i class="fa fa-cog"></i>Admin Page</a> </li>
                        <li> <a th:href="@{/cart}"><i class="fa fa-shopping-cart"></i>My Cart</a></li>
                        <li> <a th:href="@{/product/myProducts}"><i class="fa fa-list"></i>My Products</a> </li>
                        <li> <a th:href="@{/product/myOrders}"><i class="fa fa-clipboard"></i>My Transactions</a> </li>
                        <li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li>
                        <li> <a th:if="${loggedUser != null}" th:href="${'/profile/' + loggedUser.id}"><i class="fa fa-user"></i> Profile</a> </li>
                        <li> <a href="#" onclick="document.getElementById('logout').submit();"><i class="fa fa-sign-out"></i> Logout</a> </li>
                    </ul>
                    <form id="logout" th:action="@{/logout}" method="POST">
                    </form>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>
    <!-- script-for sticky-nav -->
    <script>
        $(document).ready(function() {
            var navoffeset=$(".header-main").offset().top;
            $(window).scroll(function(){
                var scrollpos=$(window).scrollTop();
                if(scrollpos >= navoffeset){
                    $(".header-main").addClass("fixed");
                }else{
                    $(".header-main").removeClass("fixed");
                }
            });

        });
    </script>
    <!-- /script-for sticky-nav -->
</div>
<!--header end here-->