<!--header start here-->
<div th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <div id="navbar" class="container">
        <div class="logo">
            <a th:href="${'/'}"><span>Sunflower</span></a>
        </div>
        <div class="header-right" th:if="${loggedUser == null}">
            <a class="account" th:href="${'/login'}">Login</a>
            <a th:href="${'/registration'}"><span class="active uls-trigger">Register</span></a>
        </div>
        <div class="header-right" th:if="${loggedUser != null}">
            <a class="account" th:href="${'/wallet'}" th:text="${'0.00'}"></a>
            <span class="active uls-trigger" th:text="${loggedUser.firstName}"></span>
            <span class="active uls-trigger" th:text="${'Logout'}" onclick="document.getElementById('logout').submit();"></span>
            <form id="logout" th:action="@{/logout}" method="POST"></form>
        </div>
    </div>
</div>
<!--header end here-->