<!--header start here-->
<div th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">
    <div id="navbar" class="container">
        <div class="logo">
            <a th:href="${'/'}"><span>Sunflower</span></a>
        </div>
        <div class="header-right" th:if="${loggedUser == null}">
            <a class="account" th:href="${'/login'}">Login</a>
            <a th:href="${'/registration'}"><span class="active uls-trigger">Register</span></a>
        </div>
        <div class="header-right" th:if="${loggedUser != null}">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <span class="cart active uls-trigger collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-shopping-cart"></span> <th:block th:text="${session.cart.size()}"></th:block> - Item<span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-cart" role="menu">
                            <li th:each="product : ${session.cart}">
                                <span class="item">
                                    <span class="item-left">
                                        <img th:src="${'/images/client/product/' + product.value.photo}" height="50px" width="100px" alt=""/>
                                        <span class="item-info">
                                            <span th:text="${product.value.name}"></span>
                                            <span th:text="${'&#8369;' + product.value.price}"></span>
                                        </span>
                                    </span>
                                    <span class="item-right">
                                        <button type="button" class="btn btn-xs btn-danger pull-right" th:onclick="${'remove(' + product.value.id + ')'}">x</button>
                                    </span>
                                </span>
                            </li>
                            <li class="divider"></li>
                            <li><a class="text-center" href="#">Place Order</a></li>
                        </ul>
                    </li>
                </ul>
            </span><!-- navbar-collapse -->
            <a class="account" th:href="${'/wallet'}" th:text="${'0.00'}"></a>
            <span class="active uls-trigger" th:text="${loggedUser.firstName}"></span>
            <a th:href="${'/product/sell'}"><span class="active uls-trigger">Sell Product</span></a>
            <span class="active uls-trigger" th:text="${'Logout'}" onclick="document.getElementById('logout').submit();"></span>
            <form id="logout" th:action="@{/logout}" method="POST"></form>
            <script>
                function remove(id) {
                    $.ajax({
                        type: "GET",
                        contentType: "application/json",
                        url: "/cart/remove/" + id,
                        success: function () {
                            $("#bs-example-navbar-collapse-1").load(location.href + " #bs-example-navbar-collapse-1>*","");
                        },
                        error: function (e) {
                            console.log("ERROR : ", e);
                        }
                    });
                }
            </script>
        </div>
    </div>
</div>
<!--header end here-->