<div th:fragment="wallet" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="side-widget open">
        <div class="inner">
            <a th:if="${loggedUser != null}" class="btn btn-blue productCheckout fa fa-sun-o" th:text="${' ' + loggedUser.getWallet().getSeeds()}"></a>
        </div>
    </div>

    <!--<script src="/js/jquery.balloon.min.js"></script>-->
    <!--<script>-->
    <!--$('.side-widget a').balloon({-->
    <!--html: true,-->
    <!--position: "top right",-->
    <!--contents: '<p></p>'-->
    <!--});-->
    <!--</script>-->
</div>