<div th:fragment="wallet" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="side-widget open">
        <div class="inner">
            <a href="/wallet" th:id="${loggedUser.getWallet().getSeeds() &lt; 10 ? 'wallet' : ''}" th:if="${loggedUser != null}" class="btn btn-blue productCheckout fa fa-sun-o" th:text="${' ' + loggedUser.getWallet().getSeeds()}"></a>
        </div>
    </div>

    <script src="/js/jquery.balloon.min.js"></script>
    <script>
    $('#wallet').balloon({
        html: true,
        position: "top right",
        contents: 'Looks like you\'re low on funds! Click to reload!'
        });
    </script>
</div>