<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/header :: head('Cart')">
</head>
<body>

<div class="page-container">
    <div>
        <div class="mother-grid-inner">
            <div th:replace="/fragments/navbar :: navbar(${loggedUser})"></div>
            <!--inner block start here-->
            <div class="inner-block">
                <div class="shopping-cart">

                    <div class="column-labels">
                        <label class="product-image">Image</label>
                        <label class="product-details">Product</label>
                        <label class="product-price">Price</label>
                        <!--<label class="product-quantity">Quantity</label>-->
                        <label class="product-removal">Remove</label>
                        <!--<label class="product-line-price">Total</label>-->
                    </div>

                    <div class="product" th:each="product : ${session.cart}">
                        <div class="product-image">
                            <img th:src="${product.photo != null} ? ${'/images/' + product.photo} : ${'/images/no_image.jpg'}" />
                        </div>
                        <div class="product-details">
                            <div class="product-title" th:text="${product.name}"></div>
                            <p class="product-description" th:text="${product.description}"></p>
                        </div>
                        <div class="product-price" th:text="${product.price}"></div>
                        <!--<div class="product-quantity">-->
                            <!--<input type="number" value="2" min="1" />-->
                        <!--</div>-->
                        <div class="product-removal">
                            <button class="remove-product">
                                Remove
                            </button>
                        </div>
                        <!--<div class="product-line-price">25.98</div>-->
                    </div>

                    <div class="totals">
                        <div class="totals-item">
                            <label>Subtotal</label>
                            <div class="totals-value" id="cart-subtotal" th:text="${total != null} ? ${total} : ${''}"></div>
                        </div>
                        <div class="totals-item">
                            <label>Tax (5%)</label>
                            <div class="totals-value" id="cart-tax" th:text="${total != null} ? ${total * 0.05} : ${''}"></div>
                        </div>
                        <div class="totals-item">
                            <label>Shipping</label>
                            <div class="totals-value" id="cart-shipping" th:text="${total != null} ? ${'100'} : ${''}"></div>
                        </div>
                        <div class="totals-item totals-item-total">
                            <label>Grand Total</label>
                            <div class="totals-value" id="cart-total" th:text="${total != null} ? ${total * 1.05 + 100} : ${''}"></div>
                        </div>
                    </div>

                    <button class="checkout">Checkout</button>

                </div>
            </div>
            <!--inner block end here-->
            <link rel="stylesheet" type="text/css" href="css/magnific-popup.css" />
            <!--<script type="text/javascript" src="js/nivo-lightbox.min.js"></script>-->
            <!--<script type="text/javascript">-->
            <!--$(document).ready(function(){-->
            <!--$('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });-->
            <!--});-->
            <!--</script>-->

            <!--copy rights start here-->
            <div class="copyrights">
                <p>© 2016 Shoppy. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
            </div>
            <!--COPY rights end here-->
        </div>
    </div>
    <div class="clearfix"> </div>


</div>

<script src="js/shoppingcart.js"></script>

</body>
</html>