<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/header :: head('Login')">
</head>
<body>
<div class="login-page">
    <div class="login-main">
        <div class="login-head">
            <h1>Forgot Password</h1>
        </div>
        <div class="login-block">
            <form th:action="@{/forgotPassword/resetPassword}" method="POST">
                <div class="alert alert-danger alert-dismissable error" th:if="${param.invalid != null}">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>
                    That email does not exist! </div>
                <div class="alert alert-success alert-dismissable error" th:if="${param.success != null}">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>
                    A link was sent to your email! </div>
                <input type="text" id="email" name="email" class="lock" placeholder="Email Address" />

                <input type="submit" name="Forgot Password" value="Submit" />
                <!--<h3>Not a member?<a th:href="@{/registration}"> Sign up now</a></h3>-->
                <!--<h2>or login with</h2>-->
                <!--<div class="login-icons">-->
                <!--<ul>-->
                <!--<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>-->
                <!--<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>-->
                <!--<li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>-->
                <!--</ul>-->
                <!--</div>-->
            </form>
            <h5><a th:href="@{/}">Go Back to Login</a></h5>
        </div>
    </div>
</div>
<!--inner block end here-->
<!--copy rights start here-->
<div class="copyrights">
    <p>© 2016 Shoppy. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
</div>
<!--COPY rights end here-->

<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>