<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/header :: head('Forgot Password')">
</head>
<body>
<div class="header">
    <div class="container">
        <div class="logo">
            <a th:href="${'/'}"><span>Sunflower</span></a>
        </div>
    </div>
</div>
<section>
    <div id="page-wrapper" class="sign-in-wrapper">
        <div class="graphs">
            <div class="sign-in-form">
                <div class="sign-in-form-top">
                    <h1>Forgot Password</h1>
                </div>
                <div class="signin">
                    <div class="alert alert-info alert-dismissable error" th:if="${param.expired != null}">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>
                        The link has already expired! </div>
                    <div class="alert alert-danger alert-dismissable error" th:if="${param.invalid != null}">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>
                        That email does not exist! </div>
                    <div class="alert alert-success alert-dismissable error" th:if="${param.success != null}">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>
                        A link was sent to your email! <br /> Check your email before the link expires in 2 hours </div>
                    <form th:action="@{/forgotPassword/resetPassword}" method="POST">
                        <div class="log-input">
                            <div class="log-input-left">
                                <input type="text" id="email" name="email" class="user" placeholder="Email Address" />
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <input type="submit" name="Forgot Password"  value="Submit" />
                    </form>
                </div>
                <div class="new_people">
                    <!--<h2>Not Registered?</h2>-->
                    <!--<p>Join now and sell your items!</p>-->
                    <a th:href="${'/'}">Go back to Home</a>
                </div>
            </div>
        </div>
    </div>
    <!--footer section start-->
    <footer class="diff">
        <p class="text-center">© 2018 Sunflower. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">w3layouts.</a></p>
    </footer>
    <!--footer section end-->
</section>
</body>
</html>