<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/header :: head('Registration')">
</head>
<body>
<!--inner block start here-->
<div class="signup-page-main">
    <div class="signup-main">
        <div class="signup-head">
            <h1>Sign Up</h1>
        </div>
        <div class="signup-block">
            <form th:action="@{/registration}" th:object="${user}" method="POST">
                <input th:field="*{first_name}" type="text" placeholder="First Name" required="" />
                <p th:each="error: ${#fields.errors('first_name')}"
                   th:text="${error}">Validation error</p>
                <input th:field="*{last_name}" type="text" placeholder="Last Name" required="" />
                <p th:each="error : ${#fields.errors('last_name')}"
                   th:text="${error}">Validation error</p>
                <input th:field="*{username}" type="text" placeholder="Email" required="" />
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Invalid Email</p>
                <input type="password" th:field="*{password}" name="password" class="lock" placeholder="Password" required="" />
                <p th:each="error : ${#fields.errors('password')}"
                   th:text="${error}">Validation error</p>
                <input type="password" th:field="*{passwordConfirm}" name="passwordConfirm" class="lock" placeholder="Confirm Password" />
                <div class="forgot-top-grids">
                    <div class="forgot-grid">
                        <ul>
                            <li>
                                <input type="checkbox" id="brand1" value="" />
                                <label for="brand1"><span></span>I agree to the terms &amp; conditions</label>
                            </li>
                        </ul>
                    </div>

                    <div class="clearfix"> </div>
                </div>
                <input type="submit" value="Register" />
            </form>
            <div class="sign-down">
                <h4>Already have an account? <a th:href="@{/login}"> Login here.</a></h4>
                <h5><a th:href="@{/}">Go Back to Home</a></h5>
            </div>
        </div>
    </div>
</div>
<!--inner block end here-->
<!--copy rights start here-->
<div class="copyrights">
    <p>© 2016 Shoppy. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
</div>
<!--COPY rights end here-->

<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>