<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Sunflower | Home</title>
    <link href="css/development/style.css" rel="stylesheet" type="text/css" media="all"/>
    <script src="js/development/jquery.min.js"></script>
    <script src="js/development/jquery.countdown.js"></script>
    <script src="js/development/script.js"></script>
    <link rel="stylesheet" href="css/development/jquery.countdown.css"/>
</head>
<body>
<div class="wrap">
    <div class="content">
        <h1>Our website is Under Construction</h1>
        <p>We'll be here soon with a new website. Estimated Time Remaining...</p>
    </div>
    <div class="timer_wrap">
        <div id="counter"></div>
    </div>
    <div class="clear"></div><div class="copy-right">
        <p> &copy; 2013 Grand-underconstruction. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a>
        </p>
    </div>
</div>
</body>
</html>