<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/header :: head('Success')">
</head>

<body>
<!--inner block start here-->
<div class="signup-page-main">
    <div class="signup-main">
        <div class="signup-head">
            <h1>Success</h1>
        </div>
        <div class="signup-block">
            <div class="sign-down">
                <h4>Your wallet has been added <i class="fa fa-sun-o"></i><th:block th:text="${seed.value}"></th:block> <br /><a th:href="@{/}"> Go back to Home.</a></h4>
                <h4><a th:href="@{/wallet}">Or reload your wallet again.</a></h4>
            </div>
        </div>
    </div>
</div>
<!--inner block end here-->
<!--copy rights start here-->
<div class="copyrights">
    <p>© 2016 Shoppy. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
</div>
<!--COPY rights end here-->

<div th:replace="/fragments/footer :: footer"></div>

</body>
</html>